.hero-banner {
    height: 90vh;
    background-image: url('../../assets/john-arano-h4i9G-de7Po-unsplash.jpg');
    background-position: center;
    background-size: cover;
    padding: 0;

    .filter-hero-banner {
        height: 100%;
        background: linear-gradient(90deg, rgba(9, 30, 58, 0.5) 0%, rgba(47, 128, 237, 0.5) 50%, rgba(45, 158, 224, 0.5) 100%);

        .content {
            color: white;
            width: 30rem;

            h1 {
                font-weight: 700;
                font-size: 3rem;
                line-height: 70px;
            }

            .btn {
                border-radius: 0;
                width: 100%;
            }

            p {
                line-height: 28px;
            }
        }
    }
}